@font-face{
    font-family: "ABCSans-Bold";
    src: url("font/ABCSans-Bold.otf");
}
@font-face{
    font-family: "ABCSans-Regular";
    src: url("font/ABCSans-Regular.otf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ABCSans-Regular", sans-serif;
  }
  html,
  body {
    height: 100%;
    background-color:#c3c3c3;
    overflow:hidden;
  }
  #album {
    position: relative;
    height:650px;
    width:650px;
    max-height:100%;
    max-width:100%;
  }
  #cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    box-shadow: 5px 0 20px 0 rgba(0,0,0, 0.6), 
                inset 0 0 10px 5px rgba(255, 255, 255, 0.2), 
                inset 0 0 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  #cover::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-image: url('img/cover_over.jpg');
    background-size: 100% 100%;
    border-radius: 4px;
    mix-blend-mode: screen;
    opacity: 0.5;
    content: '';
  }
  #cover::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 115%;
    background-image: url('img/bg.jpg');
    background-size: 100% 100%;
    border-radius: 4px;
    mix-blend-mode: screen;
    opacity: 0.75;
    content: '';
  }
  #vinyl {
    position: absolute;
    top: 3.5%;
    left: 3.5%;
    z-index: 99;
    width: 93%;
    height: 93%;
    display: block;
    background-size: 106% 106%;
    background-position: center;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    background-image: url('img/vinyl4.png');
  }
  .a_side{
      background-image: url('img/dry2.png');
}
.b_side{
    background-image: url('img/dyin2.png');
  }

  .spin{
    animation: 3s linear spinThat infinite;
  }
  .paused{
    animation-play-state: paused;
  }

  /* OVERLAY IMG ON ACTUAL VINYL GROOVES */

  #vinyl::before {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    z-index: 10;
    width: 95%;
    height: 95%;
    background-image: url('img/sep3.jpg');
    background-size: 50% 25%;
    border-radius: 50%;
    mix-blend-mode: color-dodge;
    opacity: 0.15;
    content: '';
  }
  #vinyl #print {
    position: absolute;
    top: 30%;
    left: 30%;
    height: 40%;
    width: 40%;
    box-shadow: inset 0 0 0 5px rgba(150, 150, 150, 0.5);
    /* background-image: url('img/dyin2.png'); */
    background-size: cover;
    border-radius: 50%;
  }
  #pole{
      width:10%;
      height:10%;
      background-color:#968b77;
      border-radius:50%;
      top:45%;
      left:45%;
      position: absolute;
      background-image:url(img/bg.jpg);
      background-blend-mode: screen;
      background-size:cover;
      border:3px solid rgba(0,0,0,0.2);
      z-index:999999;
  }
  /* #print .info{
    height:48.5%;
    width:97%;
    background-color:aliceblue;
    border-bottom-left-radius: 100% 200%;
    border-bottom-right-radius: 100% 200%;
    position: absolute;
    top:50%;
    left:1.5%;
  } */
  @keyframes spinThat {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }

/* END OF VINYL  */


main{
    display:grid;
    justify-content: center;
    align-content: center;
    height:100%;
    max-height:100%;
    padding-bottom:6%;
}

img{
    max-width:100%;
    max-height:100%;
}
.img-header{
    padding:1.5em 2.5em;
}

h1{
    text-align:center;
}

.menu {
    margin-left: 2em;
    background-image: url(img/bg.jpg);
    background-blend-mode: exclusion;
    background-color:aliceblue;
    /* border:1px solid #ccc; */
    background-size: cover;
    width: 450px;
    height:550px;
    border-radius: 4px;

    box-shadow: 5px 0 20px 0 rgba(0,0,0, 0.3), 
                inset 0 0 10px 5px rgba(255, 255, 255, 0.2), 
                inset 0 0 4px 2px rgba(0, 0, 0, 0.2);
} 

.sidebar{
    bottom:-15%;
    height:15%;
    position: absolute;
    width:100%;
    display:flex;
    z-index:99;
    background-color: #0000008f;
}

.fas{
    font-size:1.75em;
    padding: 0.3em 1.2em;
    color:#f8f8f8;

    font-family: "Font Awesome 5 Pro", sans-serif;
}

button {
    display: block;
    font-family: 'ABCSans-Regular', sans-serif;
    border: 3px solid #f8f8f8;
    margin: 1em auto;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    background-color:#3c3c3c;
    color:#f8f8f8;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button a{
    display:block;
}


@media (max-width:650px){
    #album{
        width:350px;
        height:350px;
    }
    .sidebar{
        bottom:-23%;
        height: 23%;
    }
    #cover::after{
        height:123%;
    }
}